<div class="container">
  <div class="row">
    <nav class="column full">
      <h1>Night <em>Owl</em></h1>
      <%= image_tag "square@2x.png", id: "logo" %>
      <ul id="settings">
        <li id="name"><%= @user.name %></li>
        <li><%= image_tag @user.image, id: "avatar" %></li>
        <a id="logout-btn" href="<%= logout_path %>">
          <button id="logout-btn" class="blue">Log out</button>
        </a>
      </ul>
    </nav>
  </div>

  <div class="row">
    <div class="column full">
      <div class="column one-third">
        <% if flash[:alert] %>
          <div class="alert"><%= flash[:alert] %></div>
        <% end %>

        <% if flash[:notice] %>
          <div class="notice"><%= flash[:notice] %></div>
        <% end %>

        <ul id="analytics">
          <li id="keyword-count">
            <span><%= @user.keywords.count %></span>
            <span>Keywords</span>
          </li>
          <li id="impression-count">
            <span><%= @count %></span>
            <span>Total Impressions</span>
          </li>
        </ul>

        <%= form_for @keyword do |f| %>
          <%= f.text_field :name, autofocus: "autofocus", spellcheck: "false", required: "required" %>
          <%= f.hidden_field :user_id, value: @user.id %>
          <%= f.submit %>
        <% end %>
      </div>

      <div class="column two-thirds">
        <div id="keywords">
          <% if @user.keywords.count == 0 %>
            <span>Start by adding a keyword below:</span>
          <% else %>
            <% @user.keywords.sort_by(&:created_at).each do |k| %>
              <blockquote class="clearfix" data-selected="<%= k.result_type %>">
                <%= content_tag :span, k.name, class: "keyword" %>
                <%= form_for k, html: { method: :put } do |f| %>
                  <%= f.select :result_type, [['mixed','mixed'],['recent','recent'],['popular','popular']] %>
                  <%= f.submit 'Update', class: 'update' %>
                <% end %>

                <%= form_for k, html: { method: :delete } do |f| %>
                  <%= f.submit 'Delete', class: 'red delete' %>
                <% end %>
              </blockquote>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('nav').addClass('animated fadeInDown');
    $('.tag').addClass('animated bounceIn');
    $('#keyword-count, #impression-count').addClass('animated flipInY');
    $('.edit_keyword select').chosen({width: "17%"});
  });
</script>
