<div class="container">
  <div class="row">
    <div class="column full">
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>

      <%= image_tag "square@2x.png", id: "logo" %>
      <h1>Night <em>Owl</em></h1>
      <h2>A Twitter bot who is habitually active or wakeful at night.</h2>
      <h3>It ingests keywords, flies around Twitter searching for those keywords, and swoops down to favourite them on your behalf.</h3>
      <a href="<%= login_path %>">
        <button id="login-btn" class="green big">Log in with Twitter</button>
      </a>

      <a id="waitlist-link" href="<%= waitlist_path %>" class="clearfix">View Waitlist (<%= @waitlisters.count %>)</a>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#logo').addClass('animated fadeInDown');
    $('h1,h2,h3').addClass('animated fadeIn');
    $('button').addClass('animated bounceIn');
  });
</script>
